form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
    margin: 5px 0;
}

input:first-child {
    margin: 0 0 5px;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 10px 0;
}

button {
    width: 80px;
}